.nav {
  grid-area: n;
  background-color: #556b81;
  padding: 20px;
}
.item:last-child {
  margin-top: 20px;
}
.item a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}
.item .activeLink {
  color: #ecbe27;
}
